---
---
@charset "utf-8";

$number-of-posts: {{ site.posts.size }};
$baseurl: "{{ site.baseurl }}";

// Our variables
$header-font:       "Bangers", cursive;
$joke-font:         "Eater", cursive;
$base-font-family:  "Lato", sans-serif;
$base-sans-face:    "Lato", sans-serif;
$base-font-size:    16pt;
$small-font-size:   $base-font-size * 0.875;
$small-sans-size:   $base-font-size * 0.7;
$base-line-height:  1.5;
$tight-line-height: 1.25;

$base-shadow:       0.2em 0.2em 0.4em rgba(0,0,0,0.1);
$base-shadow-strong:0.1em 0.1em 0.2em rgba(0,0,0,0.4);
$base-shadow-vert:  0 0.2em 0.4em rgba(0,0,0,0.1);
$shadow-pressed:    0.1em 0.1em 0.2em rgba(0,0,0,0.1);
$text-shadow-vis:   0 0 0.5em rgba(0,0,0,0.7);
$base-trans-timing: 0.15s ease-out;

$spacing-unit:      1.3em;

@import 'color-palette';

@mixin phone {
  @media (max-width: 760px) {@content;}
}
@mixin ipad {
  @media (max-width: 769px) {@content;}
}
@mixin landscape {
  @media (orientation: landscape) {@content;}
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin set($v,$h,$x) {
  @if $v {
    #{$v}:$x;
  }
  #{$h}:$x;
  @if $v==bottom {
    top: auto;
  }
  @if $h==right {
    left: auto;
  }
}

@mixin basic-trans($properties...) {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  -webkit-transition-property: $properties;
          transition-property: $properties;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting",
  "photoswipe/main",
  "photoswipe/default-skin/default-skin"
;
