// Trello #14 modified
$text-color:        rgb(248, 227, 184);
$background-color:  $text-color;
$alt-bg:            rgb(24, 51, 66);
$header-bg:         rgba($alt-bg, 0.9);
$detail:            #BD8C34;
$brand-color-orig:  $text-color;
$brand-color:       $text-color;
$highlight-color:   lighten(rgb(181, 49, 1), 10%);
$pale-highlight:    lighten($highlight-color, 20%);
$gradient-color:    rgb(118, 89, 69);
$grey-color:        #eee;
$grey-color-light:  lighten($grey-color, 15%);
$grey-color-dark:   rgba(darken($grey-color, 25%), 0.5);
$trans-black:       rgba(black, 0.2);
$trans-white:       rgba(white, 0.1);
