// Site header

.hero {
  // background-image: url($baseurl + "/images/Bird_in_an_Air_Pump.jpg");
  background-position: center 38.2%;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-dark;
  min-height: 56px;

  background-color: $header-bg;
  // background-image: url(/images/noise.gif);
  box-shadow: $base-shadow-vert;
  padding-top: 0.3em;

  // Positioning context for the mobile navigation icon
  position: relative;
  // position: fixed;
  // z-index: 10;
  width: 100%;

  p,
  a,
  input {
    color: $brand-color;
  }
}

.site-title {
  display: block;
  font-family: $header-font;
  font-size: 59px;
  line-height: 64px;
  margin-bottom: 0;
  white-space: nowrap;
  text-align: center;

  @media (max-width: 660px) {
    font-size: 45px;
  }

  @media (max-width: 540px) {
    font-size: 38px;
  }

  @media (max-width: 500px) {
    font-size: 32px;
  }

  @media (max-width: 440px) {
    text-align: left;
  }

  @media (max-width: 360px) {
    font-size: 26px;
  }

  &,
  &:visited {
    color: $highlight-color;
  }

  img {
    max-height: 1.4em;
    margin: 0 0.4em 0.4em 0;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.posAbs {
  position: absolute;
}


.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $brand-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include ipad {
    position: absolute;
    top: 1em;
    // bottom: 0.5em;
    right: 30px;
    background-color: $alt-bg;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      margin-bottom: 8px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $highlight-color;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}


// Period sliders

.periods {
  float: left;
  width: 60%;

  @media (max-width: 768px) {
    width: 70%;
  }

  > div {
    width: 45%;
    float: left;

    // margin: 0 2.5%;

    &.range-separator {
      width: 10%;
      text-align: center;
    }

    input {
      width: 100%;
      &.range-manual {
        display: block;
        background-color: $trans-white;
        // color: $text-color;
        font-size: 1em;
        text-align: center;
        border: none;
        // border-bottom: 1px solid $text-color;
      }
    }
  }
}

// .period-link {
//   color: $text-color;
//
//   &:visited {
//     color: inherit;
//   }
//
//   & + & {
//     margin-left: $spacing-unit;
//   }
// }
// .active-period {
//   border-bottom: 3px solid $highlight-color;
// }


//  Site footer

#sitedesc {
  -webkit-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
}

.site-footer {
  // border-top: 1px solid $grey-color-dark;
  padding: $spacing-unit 0;
  color: $pale-highlight;
  background-color: rgba($alt-bg, 0.9);
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: $small-font-size;
  // color: $highlight-color;
  margin-left: -$spacing-unit / 2;
  text-shadow: $text-shadow-vis;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include ipad {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include phone {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



// Page content

// .page-content {
//     padding: $spacing-unit 0;
// }

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
  line-height: $tight-line-height;
}

// Homepage

figure {
  display: inline-block;
  max-width: 7.5em;
  margin: 0 1em 1em 0;
  vertical-align: top;
  img {
    box-shadow: $base-shadow;
  }
}

.home h2 {
  box-shadow: 0 6px 6px -6px rgba(0,0,0,0.5);
  // box-shadow: 0 5px 7px -4px black;
}

.thumb {
  @include basic-trans(-webkit-transform, -ms-transform, transform, color);
  background-size: cover;
  overflow: hidden;
  background-color: $alt-bg;
  border: 10px solid $detail;
  border-radius: 1px;
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  text-shadow: $base-shadow-strong;
  box-shadow: $base-shadow-vert;

  @include ipad {
    width: 100%;
  }

  @for $i from 1 through $number-of-posts {
    &:nth-child(#{$i}) {
      border-color: rgb(random(156)+49, random(156)+49, random(156)+49);
      -webkit-transform: rotate(random(4)-2deg);
          -ms-transform: rotate(random(4)-2deg);
              transform: rotate(random(4)-2deg);
    }
  }

  &:hover {
    -webkit-transform: rotate(0deg) scale(1.1);
        -ms-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
}

.thumbnails {
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    float: left;
    margin-top: 5px;
  }

  img {
    height: 5em;
    cursor: pointer;
  }
}

// Posts

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include ipad {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  // -webkit-column-count: 2;
  //    -moz-column-count: 2;
  //         column-count: 2;
  // @include ipad {
  //   -webkit-column-count: 1;
  //      -moz-column-count: 1;
  //           column-count: 1;
  // }

  h2 {
    font-size: 32px;

    @include ipad {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include ipad {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include ipad {
      font-size: 18px;
    }
  }

  h2, h3, h4 {
    max-width: 100%;
  }

  // p {
  //   background-color: $background-color;
  //   display: inline-block;
  //   box-shadow: $base-shadow;
  //   width: 98%;
  //   padding: 1em;
  //   margin-bottom: 1em;
  //   // border-radius: 5px;
  //   // border: 1px solid $grey-color-light;
  // }

  > p {
    background-color: $background-color;
    color: $alt-bg;
    display: inline-block;
    max-width: 47%;
    vertical-align: middle;
    box-shadow: $base-shadow;
    padding: 1em;
    margin: 0.5em 0.3em;
    @include ipad {
      max-width: 98%;
    }
    // border-radius: 5px;
    // border: 1px solid $grey-color-light;
  }
  .post-footer {
    display: block;
    max-width: 100%;
    box-shadow: none;
    background-color: transparent;
    // padding: 0;
    margin-bottom: 1em;
  }
  ol.post-footer {
    font-size: 0.8em;
  }

  a, a:visited {
    color: $pale-highlight;
  }
}
