/**
 * Site header
 */
.hero {
 width: 100%;
 height: 400px;
 background-image: url(http://www.wga.hu/art/zzdeco/2tapestr/2bayeux/03bayeux.jpg);
 background-size: cover;
 background-position: center center;
}

.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-dark;
    min-height: 56px;

    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    // background-image: url(/images/noise.gif);
    box-shadow: $base-shadow-vert;
    padding-top: 0.3em;

    // Positioning context for the mobile navigation icon
    position: relative;
    // position: fixed;
    // z-index: 10;
    width: 100%;
}

.site-title {
    display: block;
    font-family: $header-font;
    font-size: 59px;
    line-height: 64px;
    margin-bottom: 0;
    white-space: nowrap;

    &,
    &:visited {
        color: $highlight-colour;
    }

    img {
        max-height: 1.4em;
        margin: 0 0.4em 0.4em 0;
    }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* grisly */
#grisly {
	text-shadow: 0px 0px 5px rgba(255,255,150,0.2), 2px 2px 3px rgba(0,0,0,0.3);;
	position: relative;
}
.grislies {
  @include basic-trans(top, opacity);
	font-family: $joke-font;
	font-size: 80%;
	position: relative;
	display: inline-block;
	top: -2em;
	opacity: 0;
	left: 0;
}
.grisly-slide-in {
	top: 0;
	opacity: 1;
}
.grisly-slide-out {
	top: 2em !important;
	opacity: 0 !important;
}
.posAbs {
	position: absolute;
}


.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include ipad {
        position: absolute;
        top: auto;
        bottom: 0.5em;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            margin-bottom: 8px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $highlight-colour;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.periods {
  line-height: 56px;
  float: left;
}

.period-link {
  color: $text-color;

  &:visited {
    color: inherit;
  }

  & + & {
    margin-left: $spacing-unit;
  }
}
.active-period {
  border-bottom: 3px solid $highlight-colour;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-dark;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $small-font-size;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include ipad {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include phone {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    line-height: $tight-line-height;
}

/**
 * Gists
 */
.gist {
    * {
        background-color: transparent !important;
    }
    pre {
        overflow-x: auto !important;
    }
    .line-numbers, pre {
        font-size: 15px !important;
    }
    .line {
      color: $text-color;
    }
}
.gist-data {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}



/**
 * Homepage
 */
figure {
    display: inline-block;
    max-width: 7.5em;
    margin: 0 1em 1em 0;
    vertical-align: top;
    img {
        box-shadow: $base-shadow;
    }
}
.home h2 {
    box-shadow: 0 6px 6px -6px rgba(0,0,0,0.5);
    // box-shadow: 0 5px 7px -4px black;
}
.thumb {
  @include basic-trans(-webkit-transform,-ms-transform,transform, color);
  background-size: cover;
  overflow: hidden;
  background-color: $alt-bg;
  border: 10px solid $detail;
  border-radius: 1px;
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  text-shadow: $base-shadow-strong;
  box-shadow: $base-shadow-vert;

  @include ipad {
    width: 100%;
  }

  @for $i from 1 through $number-of-posts {
    &:nth-child(#{$i}) {
      border-color: rgb(random(156)+49,random(156)+49,random(156)+49);
      -webkit-transform: rotate(random(4)-2deg);
          -ms-transform: rotate(random(4)-2deg);
              transform: rotate(random(4)-2deg);
    }
  }

  &:hover {
    -webkit-transform: rotate(0deg) scale(1.1);
        -ms-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include ipad {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    // -webkit-column-count: 2;
    //    -moz-column-count: 2;
    //         column-count: 2;
    // @include ipad {
    //   -webkit-column-count: 1;
    //      -moz-column-count: 1;
    //           column-count: 1;
    // }

    h2 {
        font-size: 32px;

        @include ipad {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include ipad {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include ipad {
            font-size: 18px;
        }
    }

    h2, h3, h4 {
      -webkit-column-span: all;
         -moz-column-span: all;
              column-span: all;
    }

    // p {
    //   background-color: $background-color;
    //   display: inline-block;
    //   box-shadow: $base-shadow;
    //   width: 98%;
    //   padding: 1em;
    //   margin-bottom: 1em;
    //   // border-radius: 5px;
    //   // border: 1px solid $grey-color-light;
    // }
    p {
      background-color: $background-color;
      display: inline-block;
      max-width: 47%;
      vertical-align: middle;
      box-shadow: $base-shadow;
      padding: 1em;
      margin: 0.5em 0.3em;
      @include ipad {
        max-width: 98%;
      }
      // border-radius: 5px;
      // border: 1px solid $grey-color-light;
    }
    .post-footer {
      display: block;
      width: 100%;
      box-shadow: none;
      background-color: transparent;
      padding: 0;
      margin-bottom: 1em;
    }
}



/**
 * Pricing
 */
form#pricing {
  label {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  p {
    font-size: 3em;
  }
  & + p {
    font-size: $small-sans-size;
  }
}
