---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}

    <address class="author">
      {% assign authors = '' | split: ',' %}

      {% for author in site.authors %}
        {% if page.author contains author.value %}
          {% assign authors = authors | push: author %}
        {% endif %}
      {% endfor %}

      By
      {% for author in authors %}
        <a rel="author" href="{{ author.value | prepend: '/authors/' | prepend: site.baseurl }}">
          {{ author.name }}</a>{% if forloop.last %},{% else %} and{% endif %}
      {% endfor %}
      <time pubdate datetime="{{ page.date | date: '%Y-%m-%d' }}">
        {{ page.date | date: '%B %-d, %Y' }}
      </time>
    </address>
  </article>

</div>

<script>
  window.isArticle = true
</script>

{% include photoswipe.html %}
